body {
  font-family: "Roboto", sans-serif;
  background: url(../images/full-bloom.png);
}

.animalImg {
  width: 300px;
  height: 300px;
}

.card {
  min-height: 500px;
  max-height: auto;
}

.animalImg {
  cursor: pointer;
}

.animalImg:hover {
  background: seagreen;
}

.animalImg:focus {
  width: 2em;
  height: 2em;
}
